<nav class="side-menu">
    <ul>
        <li>
            <div class="about-info-img">
                <img src="https://img.youtube.com/vi/1Qd6ZVpWMpI/0.jpg" alt="">
                <a class="play-icon" href="https://www.youtube.com/embed/1Qd6ZVpWMpI" data-fancybox="gallery">
                    <i class="far fa-play"></i>
                </a>
            </div>
        </li>
        <li>
            <div class="about-info-img">
                <img src="https://img.youtube.com/vi/KhnVcAC5bIM/0.jpg" alt="">
                <a class="play-icon" href="https://www.youtube.com/embed/KhnVcAC5bIM" data-fancybox="gallery">
                    <i class="far fa-play"></i>
                </a>
            </div>
        </li>
        <li>
            <div class="about-info-img">
                <img src="https://img.youtube.com/vi/1Qd6ZVpWMpI/0.jpg" alt="">
                <a class="play-icon" href="https://www.youtube.com/embed/1Qd6ZVpWMpI" data-fancybox="gallery">
                    <i class="far fa-play"></i>
                </a>
            </div>
        </li>
        <li>
            <div class="about-info-img">
                <img src="https://img.youtube.com/vi/1Qd6ZVpWMpI/0.jpg" alt="">
                <a class="play-icon" href="https://www.youtube.com/embed/1Qd6ZVpWMpI" data-fancybox="gallery">
                    <i class="far fa-play"></i>
                </a>
            </div>
        </li>
        <li>
            <div class="about-info-img">
                <img src="https://img.youtube.com/vi/1Qd6ZVpWMpI/0.jpg" alt="">
                <a class="play-icon" href="https://www.youtube.com/embed/1Qd6ZVpWMpI" data-fancybox="gallery">
                    <i class="far fa-play"></i>
                </a>
            </div>
        </li>
        <li>
            <div class="about-info-img">
                <img src="https://img.youtube.com/vi/1Qd6ZVpWMpI/0.jpg" alt="">
                <a class="play-icon" href="https://www.youtube.com/embed/1Qd6ZVpWMpI" data-fancybox="gallery">
                    <i class="far fa-play"></i>
                </a>
            </div>
        </li>
        <li>
            <div class="about-info-img">
                <img src="https://img.youtube.com/vi/1Qd6ZVpWMpI/0.jpg" alt="">
                <a class="play-icon" href="https://www.youtube.com/embed/1Qd6ZVpWMpI" data-fancybox="gallery">
                    <i class="far fa-play"></i>
                </a>
            </div>
        </li>
        <li>
            <div class="about-info-img">
                <img src="https://img.youtube.com/vi/1Qd6ZVpWMpI/0.jpg" alt="">
                <a class="play-icon" href="https://www.youtube.com/embed/1Qd6ZVpWMpI" data-fancybox="gallery">
                    <i class="far fa-play"></i>
                </a>
            </div>
        </li>
        <li>
            <div class="about-info-img">
                <img src="https://img.youtube.com/vi/1Qd6ZVpWMpI/0.jpg" alt="">
                <a class="play-icon" href="https://www.youtube.com/embed/1Qd6ZVpWMpI" data-fancybox="gallery">
                    <i class="far fa-play"></i>
                </a>
            </div>
        </li>
        <li>
            <div class="about-info-img">
                <img src="https://img.youtube.com/vi/1Qd6ZVpWMpI/0.jpg" alt="">
                <a class="play-icon" href="https://www.youtube.com/embed/1Qd6ZVpWMpI" data-fancybox="gallery">
                    <i class="far fa-play"></i>
                </a>
            </div>
        </li>
    </ul>
</nav>