<nav class="side-menu">
    <ul>
        <li *ngFor="let obj of videoData;">
            <span class="name">{{obj.name}}</span>
            <div class="about-info-img" (click)="navigateImg(obj)">
                <img [src]="'https://d3ngc5oa7eval3.cloudfront.net/VIDEO_STEAM_DATA/'+obj.name + '/' +obj?.posterImage" alt="">
                <a class="play-icon" href="javascript:void(0)" data-fancybox="gallery">
                    <i class="far fa-play"></i>
                </a>
            </div>
    </ul>
</nav>