<ul class="page">
  <li class="page__btn" (click)="pageClicked(1, 'begin')" [class.disabled]="currentPage === 1"><span class="material-icons">keyboard_double_arrow_left</span></li>
  <li class="page__btn" (click)="pageClicked(currentPage - 1,  'begin')" [class.disabled]="currentPage === 1"><span class="material-icons">chevron_left</span></li>
  <li class="page__numbers" *ngIf="visiblePages.length < totalPages && visiblePages[0] > 2" (click)="pageClicked(1)">{{ 1 }}</li>
  
  <li class="page__numbers" *ngIf="visiblePages.length < totalPages && visiblePages[0] > 2">...</li>

  <li class="page__numbers" *ngFor="let page of visiblePages"
      [ngClass]="{'active': page === currentPage}" (click)="pageClicked(page)">
    {{ page }}
  </li>
  <li class="page__numbers" *ngIf="(visiblePages.length < totalPages) && totalPages !== currentPage">...</li>
  <li class="page__numbers" *ngIf="(visiblePages.length < totalPages) && totalPages !== currentPage" (click)="pageClicked(totalPages)">{{ totalPages }}</li>

  <li class="page__btn" (click)="pageClicked(currentPage + 1, 'end')" [class.disabled]="currentPage === totalPages"><span class="material-icons">chevron_right</span></li>
  <li class="page__btn" (click)="pageClicked(totalPages, 'end')" [class.disabled]="currentPage === totalPages"><span class="material-icons">keyboard_double_arrow_right</span></li>
</ul>
