.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 22%;
}

ul {
    list-style-type: none;
}

.items-list {
    max-width: 90vw;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
    justify-content: center;
    align-content: center;

    @media only screen and (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.item {
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #007a96;
    cursor: pointer;

    span {
        background: #ffffff;
        box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
        border-radius: 0.6rem;
        padding: 2rem;
        font-size: 3rem;
        transition: all 0.3s ease;
    }

    &:hover {
        span {
            transform: scale(1.2);
        }
    }

    p {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-radius: 0.6rem;
    background: #ffffff;
    box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);

    &__numbers,
    &__btn,
    &__dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.8rem;
        font-size: 1.4rem;
        cursor: pointer;
    }

    &__dots {
        width: 2.6rem;
        height: 2.6rem;
        color: #007a96;
        cursor: initial;
    }

    &__numbers {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 0.4rem;

        &:hover {
            color: #007a96;
        }

        &.active {
            color: #ffffff !important;
            background: #007a96;
            font-weight: 600;
            border: 1px solid #007a96;
        }
    }

    &__btn {
        color: #007a96;

        &.active {
            color: #007a96;
            pointer-events: initial;

            &:hover {
                color: #007a96;
            }
        }
    }
}