.main-content {
    width: calc(100% - 320px);
    margin-left: auto;
    display: block;
    padding: 80px 24px 62px;
    transition: all .3s ease-in-out;
    position: relative;

    .inner-main {
        max-width: 800px;
        margin: auto;
    }

    .download-btn {
        background-color: #007bff;
        color: white;
        padding: 15px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        width: 68%;
    }

    .download-btn:hover {
        background-color: #0069d9;
    }

}