.video-grid {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-left: auto;


    .video-item {
        flex: 1 1 30%;
        padding: 15px;
    }

    .video-name {
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
    }
}