.main-container {
    background-color: #f7f7f7;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: 22%;
    margin-top: 5%;

    .video-item {
        flex: 1 1 30%;
        padding: 15px;
        margin-bottom: 24px;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .play-icon {
            position: absolute;
            height: 45px;
            width: 45px;
            line-height: 45px;
            border-radius: 4px;
            color: white;
            text-align: center;
            font-size: 24px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            border-radius: 100%;
            background: #207b91c4;

            i {
                padding-left: 6px !important;
                padding-top: 6px !important;
            }
        }

        &:before {
            content: "";
            position: absolute;
            transition: 0.3s all ease;
            z-index: 1;
        }

        &:hover {
            &:before {
                background: #24242463;
            }

            .play-icon {
                z-index: 2;

            }
        }
    }

    .video-name {
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
    }
}