<app-header></app-header>
<div class="main-container">
  <div class="container">
    <app-sidenav (change)="fetchData($event)">
    </app-sidenav>
    <div class="video-grid">
      <div class="video-item" (click)="playVideo(true, video)" *ngFor="let video of videoList">
        <img src="assets/img.jpg" alt="" width="80%" height="85%">
        <a class="play-icon" href="javascript:void(0)" data-fancybox="gallery">
          <i class="far fa-play"></i>
        </a>
        <div class="video-name">{{ video.key | replaceUnderscore }}</div>
      </div>
      <div *ngIf="showVideoPopup" [@changeState] (@changeState.done)="endState()" class="video-popup">
        <app-video-popup [heading]="videoData.key" [videoSrc]="videoData.path" *ngIf="showVideoPopupContainer"
          (closePopup)="playVideo($event)"></app-video-popup>
      </div>
    </div>
  </div>
  <app-pagination [totalItems]="videoList?.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
  (onClick)="changePage($event)">
  </app-pagination>
</div>